################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MulticamRecorder/bin/
/MulticamRecorder/obj/
/MonikerPrinter/bin/
/MonikerPrinter/obj/
/bin/
/MulticamLib/bin/
/MulticamLib/obj/
/MulticamGui/bin/
/MulticamGui/obj/
/Sandbox/
/MulticamRecorder.v11.suo
/MulticamRecorder.v12.suo
